
.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles-container{
    margin: 20px;
    padding: 30px;
    background-color: rgb(105, 105, 124);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile{
    margin: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;

}


.hero{
    justify-content: center;
    height: 100vh;
    align-items: center;

    border: solid 2px #fff;
    margin: 50px 50px 10px 50px;;
    padding: 20px;

}

.notice{
    padding: 50px;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
    display: block;
    background-color: rgb(120, 120, 120);
    text-align: center;
    width: 50%;
    
    

}
.btn{
    margin: 20px;
   

}